<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.drg.chargingtime">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/battery"
            android:label="@string/app_name"
            android:roundIcon="@drawable/battery"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <service
                android:name=".Services.ComputeChargingTimeService"
                android:enabled="true"
                android:exported="false">
        </service>
        <service
                android:name=".Services.WaitingForPowerService"
                android:enabled="true"
                android:exported="false">
        </service>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>